<div>
  <h1 class="heading">Monopoly</h1>
  <span class="version">v 0.1</span>
</div>

<div class="flex-group"  [style.width.px]="players.length*playerWidth">
  <div *ngFor="let player of players" class="player" [style.width.px]="playerWidth" [style.height.px]="playerHeight">Player {{player}}</div>
</div>

<div class="flex-group" [style.width.px]="myCards.length*myCardWidth">
  <div [id]="myCard.id" *ngFor="let myCard of myCards" class="card" [style.width.px]="myCardWidth" [style.height.px]="myCardHeight" [style.background]="myCard.color">
    <h4>{{myCard.name}}</h4>
    <p>{{myCard.cash}} million</p>
    <p>{{myCard.total}} required</p>
  </div>
</div>